

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
 
.modal-content {
  background-color: #FFFFFF;
  width: 429px;
  height: 100%;
  position: relative; 
  padding: 39px 15px 0px 39px;
}
 
#closeModalBtn {
  position: absolute;
  top: 22px;
  right: 15px;
  background: none;
  border: none;
}

.header__logo-menu {
  font-weight: 400;
  font-size: 30px;
  color: var(--title-color);
}

.header__logo-color-menu{
  color: var(--logo-color);
}

.header__line-menu{
  width: 364px;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 35px;
  background-color: var(--line-footer);
}

.header-navigation-menu {
  margin-bottom: 62px;
}

.header-navigation__list-menu {
  width: 150px;
}

.header-navigation__link-menu {
  font-weight: 500;
  font-size: 22px;
  line-height: 273%;
}

.header__link-menu {
  font-weight: 400;
  font-size: 18px;
  border: 2px solid var(--nav-color);
  border-radius: 5px;

  padding: 17px 57px;
}

@media (max-width: 575px){
  .modal-content {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: relative; 
    padding: 55px 32px 0px 33px;
  }

  #closeModalBtn {
    top: 54px;
    right: 23px;
    background: none;
    border: none;
  }

  .header__line-menu{
    width: 100%;
    height: 1px;
    margin-top: 44px;
  }
  
  .header-navigation-menu {
    margin-bottom: 80px;
  }
  
  .header-navigation__link-menu {
    font-weight: 400;
    font-size: 22px;
    line-height: 273%;
  }
  
  .header__link-menu {
    font-size: 22px;
  
    padding: 18px 116px;
  }
}

@media (max-width: 320px){
  .modal-content {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: relative; 
    padding: 25px 15px 0px 15px;
  }

  #closeModalBtn {
    top: 25px;
    right: 7px;
  }

  .header__line-menu{
    width: 100%;
    height: 1px;
    margin-top: 20px;
  }
  
  .header-navigation-menu {
    margin-bottom: 80px;
  }
  
  .header-navigation__link-menu {
    font-size: 22px;
    line-height: 295%;
  }
  
  .header__link-menu {
    width: 291px;
    font-size: 20px;
  
    padding: 18px 88px;
  }
}