@media (max-width: 992px){
    
    .container{
        width: 992px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        outline: 1px solid red;
    }

    .header {
        padding: 25px 0px 0px 11px;
    }
    
    .header__logo {
        font-weight: 400;
        font-size: 30px;
    
        margin-right: 167px;
    }
    
    .header-navigation {
        margin-right: 99px;
    }
    
    .header-navigation__list {
        width: 415px;
    }
    
    .header-navigation__link{
        font-weight: 500;
        font-size: 16px;
    }
    
    .header__link {
        font-size: 18px;
    
        padding: 12px 40px 11px 40px;
    }

    .main-section-hero {
        padding-right: 1px;
    }
    
    .main-section-hero__title {
        width: 235px;

        font-size: 48px;
        line-height: 133%;
    
        margin: 0px 12px 27px 0px;
    
    }

    .main-section-hero__lamp{
        width: 83px;
        height: 83px;
    }
    
    .main-section-hero__subtitle {
        width: 420px;
        font-size: 20px;
    
        margin: 0px 0px 33px 0px;
    }
    
    .main-section-hero__button {
        border-radius: 5px;
        font-size: 24px;
    
        padding: 22px 78px 22px 79px;
    }

    .main-section-hero__img{
        width: 460px;
        height: 460px;
    }

    .main-section-skills {
        padding: 72px 6px 53px 12px;
    }
    
    .main-section-skills__title {
        font-size: 36px;
        line-height: 222%;
    
        margin-bottom: 53px;
    }
    
    .main-section-skills__list {
        grid-template-columns: repeat(3, 303px);
        gap: 12px 13px;
    }

    .fourItem{
        padding-right: 18px;
    }
    
    .image-one{
        width: 260px;
        height: 260px;
        margin: 0px 21px 0px 22px;
        margin: 0;
    }
    
    .image-two{
        width: 205px;
        height: 205px;
        margin: 5px 10px 0px 87px;
    }
    
    .image-three{
        width: 243px;
        height: 162px;
        margin: 16px 58px 0px 3px;
    }

    .image-four{
        width: 254px;
        height: 169px;
    }

    .main-section-skills__box-one{
        padding: 0px 15px 52px 28px;
    }
    
    .main-section-skills__box-two{
        padding: 0px 33px 30px 29px;
    }
    
    .main-section-skills__box-three{
        padding: 3px 40px 32px 27px;
    }
    
    .main-section-skills__box-four{
        padding: 0px 0px 34px 29px;
        margin-right: 18px;
    }
    
    .main-section-skills__item__title{
        font-size: 22px;
        line-height: 364%;
    }
    
    .main-section-skills__subtitle{
        font-size: 14px;
    
        margin-bottom: 25px;
    }
    
    .main-section-skills__button{
        font-size: 18px;
        padding: 16px 41px 19px 42px;
    }

    .main-section-about {
        padding: 53px 2px 51px 11px;
    }
    
    .main-section-about-box {
        margin-right: 25px;
    }
    
    .main-section-about__title {
        font-size: 36px;
        line-height: 222%;
        margin-top: 0px;
        margin-bottom: 13px;
    }
    
    .main-section-about__subtitle {
        width: 590px;
        font-size: 16px;
    
        margin-bottom: 10px;
    }
    
    .main-section-about__list {
        width: 400px;
    }
    
    .main-section-about__item {
        text-align: center;
    }
    
    .main-section-about__item__title {
        font-size: 30px;
        line-height: 267%;
    }
    
    .main-section-about__item__subtitle {
        font-size: 16px;
    }

    .main-section-about__image{
        width: 336px;
        height: 336px;
    }

    .main-section-pricing {
        padding: 50px 11px 70px 10px;
    }
       
    .main-section-pricing__title {
        font-size: 36px;
        line-height: 222%;
        margin-bottom: 22px;
    }
       
    .main-section-pricing__list {
        width: 931px;
    }

    .main-section-pricing__image-one{
        width: 222px;
        height: 222px;
        margin-bottom: 20px;
    }
    
    .main-section-pricing__image-two{
        width: 267px;
        height: 195px;
        margin-bottom: 15px;
    }
    
    .main-section-pricing__image-three{
        width: 242px;
        height: 242px;
        margin-bottom: 5px;
    }
       
    .main-section-pricing__item__title{
        font-size: 22px;
        line-height: 155%;
    }
       
    .main-section-pricing__item__subtitle-one{
        width: 258px;
        font-size: 16px;
        margin: 14px 0px 14px 0px;
    }
       
    .main-section-pricing__item__subtitle-two{
        width: 257px;
        font-size: 16px;
        margin: 12px 0px 52px 0px;
    }
       
    .main-section-pricing__item__subtitle-three{
        width: 226px;
        font-size: 16px;
        margin: 15px 0px 34px 0px;
    }
       
    .main-section-pricing__box-package{
        width: 205px;
    }
       
    .main-section-pricing__box-package__priсe {
        font-size: 24px;
    }
       
    .main-section-pricing__box-package__length {
        font-size: 16px;
    }

    .main-section-contact {
        width: 945px;
        padding-top: 70px;
        padding-right: 4px;
        padding-bottom: 194px;
    }

    .main-section-contact__image{
        width: 312px;
        height: 281px;
    }
    
    .main-section-contact__box{
       margin-top: 33px; 
    }
    
    .main-section-contact__title {
        font-size: 36px;
        line-height: 222%;
        margin-bottom: 3px;
    }
    
    .main-section-contact__subtitle {
        width: 446px;
        font-size: 16px;
        margin-bottom: 34px;
    }
    
    .main-section-contact__form {
        width: 530px;
    }
    
    .main-section-contact__form__input {
        border-radius: 10px;
        width: 323px;
        padding: 23px 0px 16px 38px ;
    }
    
    .main-section-contact__form__input::placeholder {
        font-size: 16px;
    }
    
    .main-section-contact__form__button {
        font-size: 16px;   
        padding: 21px 56px 15px 56px;
    }

    .footer {
        padding-left: 11px;
        padding-right: 11px;
    }
    
    .footer__line {
        width: 929px;
        height: 1px;
    }
    
    .footer__box{
        width: 929px;
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    .footer__logo {
        font-size: 30px;
    }
    
    
    .footer__subtitle {
        font-size: 16px;
    }
}