:root{
    --font-family: "Poppins", sans-serif;

    --nav-color: #263238;

    --title-color: #000;
    --subtitle-color: #8f95a5;
    --logo-color: #939393;

    --title-skills-color: #263238;
    --item-skills-background: #f5f5f5;

    --button-color: #fff;
    --button-background: #263238;

    --title-about-color: #2a3246;

    --box-pricing-background: #eee;
    --subtitle-pricing-background: #546269;

    --line-footer: #c4c4c4;

}

body{
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a,button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container{
    width: 1600px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    outline: 1px solid red;
}

.header {
    display: flex;
    align-items: center;

    padding-top: 57px;
    padding-left: 9px;
}

.header__logo {
    font-weight: 400;
    font-size: 36px;
    color: var(--title-color);

    margin-right: 244px;
}

.header__logo-color{
    color: var(--logo-color);
}

.header-navigation {
    margin-right: 278px;
}

.header-navigation__list {
    display: flex;
    align-items: center;
    width: 492px;
    justify-content:space-between;
    
}

.header-navigation__link{
    font-weight: 500;
    font-size: 20px;
    color: var(--nav-color);
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    border: 2px solid var(--nav-color);
    border-radius: 5px;

    padding: 17px 57px;
}

.main-section-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 9px;
    padding-right: 3px;
}

.main-section-hero-box{
    display: flex;
    align-items: center;
}

.main-section-hero__title {
    width: 386px;
    color: var(--title-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;

    margin: 0px 38px 41px 0px;

}

.main-section-hero__subtitle {
    width: 526px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 24px;

    margin: 0px 0px 61px 0px;
}

.main-section-hero__button {
    border-radius: 15px;
    color: var(--button-color);
    background-color: var(--button-background);
    font-weight: 400;
    font-size: 36px;

    padding: 32px 117px 32px 118px;
}

.main-section-skills {
    padding: 103px 13px 141px 7px;
}

.main-section-skills__title {
    text-align: center;
    color: var(--title-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 167%;

    margin-bottom: 96px;
}

.main-section-skills__list {
    display: grid;
    grid-template-columns: repeat(3, 435px);
    gap: 20px 18px;
}

#oneItem{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#fourItem{
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-right: 25px;
}

.main-section-skills__item{
    border-radius: 10px;
    background-color: var(--item-skills-background);
}

.main-section-skills__item:nth-child(2){
    position: relative;
}

.image-one{
    width: 435px;
    height: 390px;
    padding: 35px 22px 0px 23px;
    margin-bottom: 4px;
}

.image-two{
    width: 293px;
    height: 293px;
    position: absolute;
    top: 0;
    right: 0;
}

.image-three{
    width: 371px;
    height: 247px;
}

.image-four{
    width: 372px;
    height: 255px;
}

.main-section-skills__box-one{
    padding: 0px 51px 92px 43px;
}

.main-section-skills__box-two{
    padding: 251px 50px 0px 43px;
}

.main-section-skills__box-three{
    padding: 0px 29px 44px 43px;
}

.main-section-skills__box-four{
    padding: 43px 0px 68px 48px;
    margin-right: 95px;
}

.main-section-skills__item__title{
    color: var(--button-background);
    font-weight: 600;
    font-size: 30px;
    line-height: 267%;
}

.main-section-skills__subtitle{
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 33px;
}

.main-section-skills__button{
    color: var(--button-color);
    background-color: var(--button-background);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;

    padding: 17px 63px 16px 64px;
}

.main-section-about {
    display: flex;

    padding: 141px 20px 94px 11px;
}

.main-section-about-box {
    margin-right: 194px ;
}

.main-section-about__title {
    color: var(--title-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 167%;

    margin-top: 30px;
    margin-bottom: 23px;
}

.main-section-about__subtitle {
    width: 635px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;

    margin-bottom: 42px;
}

.main-section-about__list {
    display: flex;
    justify-content: space-between;
    width: 615px;
}

.main-section-about__item {
    text-align: center;
}

.main-section-about__item__title {
    color: var(--title-about-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 167%;
}

.main-section-about__item__subtitle {
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;
}

.main-section-pricing {
    padding: 94px 14px 129px 10px;
}

.main-section-pricing__title {
    text-align: center;
    color: var(--title-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 167%;
    margin-bottom: 57px;
}

.main-section-pricing__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1332px;
}

.main-section-pricing__box-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-pricing__image-one{
    margin-bottom: 40px;
}

.main-section-pricing__image-two{
    margin-bottom: 42px;
}

.main-section-pricing__image-three{
    margin-bottom: 11px;
}

.main-section-pricing__item__title{
    color: var(--title-skills-color);
    font-weight: 600;
    font-size: 30px;
    line-height: 160%; 
}

.main-section-pricing__item__subtitle-one{
    width: 424px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;
    margin: 19px 0px 29px 0px;
}

.main-section-pricing__item__subtitle-two{
    width: 372px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;
    margin: 23px 0px 48px 0px;
}

.main-section-pricing__item__subtitle-three{
    width: 432px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0px 50px 0px;
}

.main-section-pricing__box-package{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    background-color: var(--box-pricing-background);
}

.main-section-pricing__box-package__priсe {
    color: var(--title-skills-color);
    font-weight: 400;
    font-size: 30px;
}

.main-section-pricing__box-package__length {
    color: var(--subtitle-pricing-background);
    font-weight: 400;
    font-size: 18px;
}

.main-section-contact {
    display: flex;
    justify-content: space-between;
    width: 1364px;
    padding-top: 131px;
    padding-right: 4px;
    padding-bottom: 67px;
}

.main-section-contact__box{
   margin-top: 33px; 
}

.main-section-contact__title {
    color: var(--title-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 167%;
    margin-bottom: 37px;
}

.main-section-contact__subtitle {
    width: 778px;
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 52px;
}

.main-section-contact__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 726px;
}

.main-section-contact__form__input {
    border: 1px solid var(--subtitle-color);
    border-radius: 10px;
    width: 450px;
    padding: 26px 0px 30px 33px ;
}

.main-section-contact__form__input::placeholder {
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 16px;
}

.main-section-contact__form__button {
    color: var(--button-color);
    background-color: var(--button-background);
    font-weight: 500;
    font-size: 20px;    
    border-radius: 10px;
    padding: 25px 81px 25px 82px;
}

.footer {
    padding-left: 11px;
    padding-right: 11px;
}

.footer__line {
    width: 1338px;
    height: 1px;
    background-color: var(--line-footer);
}

.footer__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1338px;
    padding-top: 31px;
    padding-bottom: 64px;
}

.footer__logo {
    font-weight: 400;
    font-size: 36px;
    color: var(--title-color);
}

.footer__logo-color {
    color: var(--logo-color);
}

.footer__subtitle {
    color: var(--subtitle-color);
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 992px){
    
    .container{
        width: 992px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        outline: 1px solid red;
    }

    .header {
        padding: 25px 0px 0px 11px;
    }
    
    .header__logo {
        font-weight: 400;
        font-size: 30px;
    
        margin-right: 167px;
    }
    
    .header-navigation {
        margin-right: 99px;
    }
    
    .header-navigation__list {
        width: 415px;
    }
    
    .header-navigation__link{
        font-weight: 500;
        font-size: 16px;
    }
    
    .header__link {
        font-size: 18px;
    
        padding: 12px 40px 11px 40px;
    }

    .main-section-hero {
        padding-right: 1px;
    }
    
    .main-section-hero__title {
        width: 290px;

        font-size: 48px;
        line-height: 133%;
    
        margin: 0px 12px 27px 0px;
    
    }
    
    .main-section-hero__subtitle {
        width: 420px;
        font-size: 20px;
    
        margin: 0px 0px 33px 0px;
    }
    
    .main-section-hero__button {
        border-radius: 5px;
        font-size: 24px;
    
        padding: 22px 78px 22px 79px;
    }

    .main-section-hero__img{
        width: 460px;
        height: 460px;
    }

    .main-section-skills {
        padding: 72px 6px 53px 12px;
    }
    
    .main-section-skills__title {
        font-size: 36px;
        line-height: 222%;
    
        margin-bottom: 53px;
    }
    
    .main-section-skills__list {
        grid-template-columns: repeat(3, 303px);
        gap: 12px 13px;
    }
    
    .image-one{
        width: 303px;
        height: 260px;
        padding: 0px 21px 0px 22px;
    }
    
    .image-two{
        width: 205px;
        height: 205px;
    }
    
    .image-three{
        width: 243px;
        height: 162px;
        padding-top: 16px;
    }

    .image-four{
        width: 254px;
        height: 169px;
    }

    .main-section-skills__box-one{
        padding: 0px 15px 52px 28px;
    }
    
    .main-section-skills__box-two{
        padding: 180px 33px 30px 29px;
    }
    
    .main-section-skills__box-three{
        padding: 3px 40px 32px 27px;
    }
    
    .main-section-skills__box-four{
        padding: 0px 0px 34px 29px;
        margin-right: 18px;
    }
    
    .main-section-skills__item__title{
        font-size: 22px;
        line-height: 364%;
    }
    
    .main-section-skills__subtitle{
        font-size: 14px;
    
        margin-bottom: 25px;
    }
    
    .main-section-skills__button{
        padding: 16px 41px 19px 42px;
    }

    .main-section-about {
        padding: 53px 2px 51px 11px;
    }
    
    .main-section-about-box {
        margin-right: 25px;
    }
    
    .main-section-about__title {
        font-size: 36px;
        line-height: 222%;
        margin-top: 0px;
        margin-bottom: 13px;
    }
    
    .main-section-about__subtitle {
        width: 590px;
        font-size: 16px;
    
        margin-bottom: 10px;
    }
    
    .main-section-about__list {
        width: 400px;
    }
    
    .main-section-about__item {
        text-align: center;
    }
    
    .main-section-about__item__title {
        font-size: 30px;
        line-height: 267%;
    }
    
    .main-section-about__item__subtitle {
        font-size: 16px;
    }

    .main-section-about__image{
        width: 336px;
        height: 336px;
    }

    .main-section-pricing {
        padding: 50px 11px 70px 10px;
    }
       
    .main-section-pricing__title {
        font-size: 36px;
        line-height: 222%;
        margin-bottom: 22px;
    }
       
    .main-section-pricing__list {
        width: 931px;
    }

    .main-section-pricing__image-one{
        width: 222px;
        height: 222px;
        margin-bottom: 20px;
    }
    
    .main-section-pricing__image-two{
        width: 267px;
        height: 195px;
        margin-bottom: 15px;
    }
    
    .main-section-pricing__image-three{
        width: 242px;
        height: 242px;
        margin-bottom: 5px;
    }
       
    .main-section-pricing__item__title{
        font-size: 22px;
        line-height: 155%;
    }
       
    .main-section-pricing__item__subtitle-one{
        width: 258px;
        font-size: 16px;
        margin: 14px 0px 14px 0px;
    }
       
    .main-section-pricing__item__subtitle-two{
        width: 257px;
        font-size: 16px;
        margin: 12px 0px 52px 0px;
    }
       
    .main-section-pricing__item__subtitle-three{
        width: 226px;
        font-size: 16px;
        margin: 15px 0px 34px 0px;
    }
       
    .main-section-pricing__box-package{
        width: 205px;
    }
       
    .main-section-pricing__box-package__priсe {
        font-size: 24px;
    }
       
    .main-section-pricing__box-package__length {
        font-size: 16px;
    }

    .main-section-contact {
        width: 945px;
        padding-top: 70px;
        padding-right: 4px;
        padding-bottom: 194px;
    }

    .main-section-contact__image{
        width: 312px;
        height: 281px;
    }
    
    .main-section-contact__box{
       margin-top: 33px; 
    }
    
    .main-section-contact__title {
        font-size: 36px;
        line-height: 222%;
        margin-bottom: 3px;
    }
    
    .main-section-contact__subtitle {
        width: 446px;
        font-size: 16px;
        margin-bottom: 34px;
    }
    
    .main-section-contact__form {
        width: 530px;
    }
    
    .main-section-contact__form__input {
        border-radius: 10px;
        width: 323px;
        padding: 23px 0px 16px 38px ;
    }
    
    .main-section-contact__form__input::placeholder {
        font-size: 16px;
    }
    
    .main-section-contact__form__button {
        font-size: 16px;   
        padding: 21px 56px 15px 56px;
    }

    .footer {
        padding-left: 11px;
        padding-right: 11px;
    }
    
    .footer__line {
        width: 929px;
        height: 1px;
    }
    
    .footer__box{
        width: 929px;
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    .footer__logo {
        font-size: 30px;
    }
    
    
    .footer__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 767px){
    
}

@media (min-width: 575px){
    
}

@media (min-width: 320px){
    
}